:root{
   --var-color-background: #F5F5F5;
   --var-color-link: #000;
   --var-color-highlight: purple;
   --var-color-title: #555555;
   --var-color-subsection: #6a6a6a;
   
}

body {
    box-sizing: border-box;
    background-color: var(--var-color-background);
    font-family: 'Poppins', 'Arial';
    margin: 0;
    padding: 1rem;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
}

.menu__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.menu__header--image{
    height: 24px;
}

.menu__title{
    color: var(--var-color-highlight)
}

.menu__nav{
    display: flex;
    align-items: center;
}

.menu__list{
    display: none;
}

.menu__list__item__contato{
    font-style: normal;
    font-weight: 300;
}

/*Sección Title*/

section.title{
    display: flex;
    padding: 1rem;
}

.title__div{
    display: flex;
    flex-flow: column wrap;
}

.title__profile{
    height: 98px;
    width: 98px;
}

.title__bio{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
}

.title__bio--nombre{
    color: var(--var-color-highlight);
}

.title__subsection{
    font-style: normal;
    font-weight: 300;
}

.title__network{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

/*Sección About*/

section.about{
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

/*Sección Hobbies*/

/* section.hobbies{
    
} */

/* Experiencia Académica*/

/* section.academic{

} */

/* experiencia*/

/* section.experience{

} */

/*Contacto*/

/* section.formcontato{

} */

/*footeer*/

/* section.footer{
   
} */

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}