:root{
   --var-color-background: #F5F5F5;
   --var-color-link: #000;
   --var-color-highlight: #981c98db;
   --var-color-title: #555555;
   --var-color-text: #6a6a6a;

}

body {
    box-sizing: border-box;
    background-color: var(--var-color-background);
    font-family: 'Poppins';
    color: var(--var-color-text);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol,ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sección Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
}

.menu__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.menu__header--image{
    height: 24px;
}

.menu__title{
    color: var(--var-color-highlight)
}

.menu__nav{
    display: flex;
    align-items: center;
}

.menu__list{
    display: none;
}

.menu__list__item__contato{
    font-style: normal;
    font-weight: 300;
}

/*Sección Title*/

section.title{
    display: flex;
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.title__div{
    display: flex;
    flex-flow: column wrap;
}

.title__profile{
    height: 98px;
    width: 98px;
}

.title__bio{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
}

.title__bio--nombre{
    color: var(--var-color-highlight);
}

.title__subsection{
    font-style: normal;
    font-weight: 300;
}

.title__network{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

/*Sección About*/

section.about{
    display: flex;
    flex-flow: column nowrap;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    background: #EAF2FD;
}

.about__container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.about__title{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
}

.about__paragraph{
    font-style: normal;
    font-weight: 300;
}

/*Sección Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.skills__title{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
    align-self: center;
    margin-bottom: 2rem;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills__box{
    height: 118px;
    width: 156px;
    background: #fff;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.skills__box ul{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.skills__img{
    margin-bottom: 0.5rem;
}

.skills__name{
    font-style: normal;
    font-weight: 500;
}

/*Sección Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
}

.hobbies__title{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
    align-self: center;
    margin-bottom: 2rem;
}

.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hobbies__box{
    height: 118px;
    width: 156px;
    background: #fff;
    margin-bottom: 1rem;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.hobbies__box ul{
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.hobbies__img{
    margin-bottom: 0.5rem;
}

.hobbies__name{
    font-style: normal;
    font-weight: 500;
}

/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: #EAF2FD;
}

.academic__title{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
    align-self: center;
    margin-bottom: 2rem;
}

.academic__courses{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.academic__courses__box{
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
}

.academic__courses__list{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap: 0.5rem;
}

.academic__courses__item__img{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.academic__courses__item__title p{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
}

.academic__courses__item__subtitle p{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 300;
}

/* experiencia*/

section.experience{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.experience__section__title{
    font-size: 22px;
    font-weight: 700;
    color: var(--var-color-title);
    align-self: center;
}

.experience__cards{
    display: flex;
    flex-flow: column wrap;
    gap: 4rem;
}

.experience__box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experience__img{
    flex-shrink: 1;
}

.experience__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.experience__title{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.experience__text{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.experience__description{

}

.experience__repo{

}

.experience__boton--repo{

}

.experience__demo{

}

experience__boton--demo{

}
/*Contacto*/

/* section.formcontato{

} */

/*footeer*/

/* section.footer{
   
} */

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}